//Place SASS variable overrides here
// $font-size-root: 18px;

$primary-dark: #222a68;
$primary-neutral: #574ae2;
$accent-dark: #654597;
$accent-neutral: #ab81cd;
$accent-light: #e2adf2;
$secondary: #ccffcb;
$light: #f5f5f5;
$info: #17a2b8;

html {
	overflow: hidden !important;
}
